@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css");
@import '~toastr/toastr.scss';

// Match form coloring
.form-error {
  color: #9F3A38;
}

#app {
  margin-top: 5em;
}

#footer {
  color: lighten(gray, 20%);
  text-align: center;
  margin-top: 10px;
}
.centered {
  text-align: center;
}

.scroll-x-overflow {
  overflow-x: scroll;
}